<import src="./components/button.html" exports="dox-button"></import>
<import src="./components/nav.html" exports="nav"></import>
<import src="./components/footer.html" exports="footer"></import>
<var name="github_url">
  https://github.com/MalikWhitten67/html-dox/releases/latest
</var>
<var name="github_logo">
  https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
</var>
<var name="someJson"   >
  [
   {
     "name": "Malik",
     "age": 17,
     "location": "USA"
   },
   {
     "name": "John",
     "age": 18,
     "location": "USA"
   },
   {
     "name": "Jane",
     "age": 19,
     "location": "USA"
   }]
  
 </var>
<myComponent props="button:text:install:color">
  <!--- this is my nav-->
  <nav>
    <slot>
      <p class="">hello</p>
    </slot>
  </nav>

  <div class="mt-16 relative text-white mb-24 ">
    <div class="  flex  bg-gradient   flex-row">

      <div class="flex flex-col text-center justify-center mx-auto">

        <p class="mt-5 text-6xl text-center max-w-lg mx-auto  text-mono   ">
          Build Faster SPA's
          <span>
            {{json.map(someJson.age.filter(age => age > 18).return('li'))}}
            {{somejson}}
          </span>
          
        </p>
        <p class="mt-6 text-xl text-center xl:max-w-2xl  lg:max-w-2xl  mx-auto text-mono   ">
          Html dox is a extensive library built to enhance how we use html making it more modular and easier to use!
        </p>
        <div class="flex flex-row justify-center mx-auto mt-16 ">
          <a href="https://github.com/MalikWhitten67/html-dox/wiki/Getting-started">
            <button id="getstartedbtn"
            class="btn bg-white text-black border border-solid border-2 border-gray-600 hover:bg-white hover:scale-200  w-40  rounded-full  ">
            {{button}}
          </button>
          </a>
       

          <button onclick="my_modal_1.showModal()" id="installbtn"
            class="{{color}} btn btn-ghost border-slate-400 rounded-full hover:bg-slate-700 hover:text-white ml-5 w-40  ">
            {{install}}
          </button>




        </div>
        <div class=" mb-24 mt-6 flex xl:flex-row  flex-col gap-2 justify-center mx-auto flex-wrap max-w-4xl">

          <div class="card w-96  border-gray-600 border shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
            <div class="card-body">
              <h2 class="card-title">🧩 Modular</h2>
              <p class="text-start"> Html dox is a modular library, adding component based development to html!</p>
               
            </div>
          </div>
           
       
          <div class="card w-96  border-gray-600 border shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
            <div class="card-body">
              <h2 class="card-title">⚡️ Performant</h2>
              <p class="text-start">Html dox renders sequentially, no traversing - no compiling - no bundling!</p>
               
            </div>
          </div>
          

          <div class="card w-96  border-gray-600 border shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
            <div class="card-body">
              <h2 class="card-title">📚  Easy to use </h2>
              <p class="text-start">Html dox  does not overcomplicate what has already been done, its not reinventing the wheel just extending base html and vanilla javascript
                to make your spa csr applications much faster!
              </p>
               
            </div>
          </div>
        </div>
      </div>



    </div>





     <div class="justify-center mx-auto xl:hidden lg:hidden flex"> 
      Relased under the  <a href="https://opensource.org/license/mit/" class="mx-2 hover:underline hover:text-blue">MIT</a> license
     </div>
    <footer class="absolute bottom-0 xl:flex lg:flex hidden"></footer>
  </div>
 

  <dialog id="my_modal_1" class="modal">
    <form method="dialog" class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      <h3 class="font-bold text-lg">Install Html-dox</h3>
      <div class="form-control mt-6">
        <label class="label">
          <span class="label-text">NPM</span>
        </label>
        <input type="text" placeholder="npm install html-dox"
          class="input focus input-bordered border border-sky-300 rounded w-full" onclick="this.select(), this.focus()"
          value="npm install html-dox" readonly>

      </div>
      <div class="form-control mt-6">
        <label class="label">
          <span class="label-text">Github
        </label>
        <a href="{{github_url}}" target="_blank"
          class="btn hover:border-slate-300 bg-white w-full text-black border border-solid border-2 border-gray-600 hover:bg-white hover:scale-200   rounded inline flex  ">View
          on Github <img src="{{github_logo}}" class="w-6 h-6" alt=""></a>


      </div>

    </form>
  </dialog>
  </div>


</myComponent>


<export>
  myComponent
</export>