<import src="./components/nav.html" exports="nav"></import>
<import src="./components/footer.html" exports="footer"></import>
<changelog   
>
<nav></nav>
<div class="p-5 xl:px-24  mt-16"> 
<h1 class="text-4xl font-bold">
    Changelog 
</h1>
<div class="divider w-1/2"></div>
<div class="mt-5 flex  flex-col">
    <div class="flex flex-row justify-between">
        <h1 class="text-2xl font-bold">
            <a class="link" href="https://github.com/MalikWhitten67/html-dox/commit/62eabafb9394040a64e83e9625eccacbd754e26c">
                1.0.0 -  6/16/23
            </a>
        </h1>
        
    </div>
    <div class="mt-5">
        <ul class="list-disc list-inside">
            <li>Initial Release</li>
        </ul>
    </div>
    <h1 class="text-2xl mt-2 font-bold">
       <a class="link" href="https://github.com/MalikWhitten67/html-dox/releases/tag/v1.0.2">
        1.0.2 - 6/17/23
       </a>
    </h1>
    <div class="mt-5">
        <ul class="list-disc list-inside">
            <li>Improved dox - fixed bugs</li>
            <li>Fixed components would not render with emmet expression: {{}}</li>
            <li>Added <code class="badge  bg-slate-200 text-sky-500">
                <pre>&lt;import src="file" exports="name of export u want to render!"&gt;&lt;/import&gt;</pre>
            </code> tag to import components within components!</li>
            <li>Improved html var tag and made it usable any code within can be used as a variable and returned  as
                {{var_name}}
                <aside/>
            </aside><code class="badge  bg-slate-200 text-sky-500">
                <pre>&lt;var name="somename"&gt;</pre>
            </code> tag</li>
        </ul>
        <h1 class="text-2xl mt-2 font-bold">
            <a class="link" href="https://github.com/MalikWhitten67/html-dox/releases/tag/v1.0.2">
             1.0.3 <span class="text-red-500">[CURRENT]</span> - 6/18/23
            </a>
         </h1>
         <ul class="list-disc list-inside">
            <li>Improved dox - fixed more bugs</li>
             
            <li>Fixed route issues where imported elements would not render when sequentially rendered</li>
            <li>Router now allows you to set routes in the meta tag <code class="badge  bg-slate-200 text-sky-500">
                <pre>&lt;meta config routes="/home,/changelog,/car"&gt;</pre>
            </code>
            <aside/>
         also be sure to set fallback route in the meta tag <code class="badge  bg-slate-200 text-sky-500">
                <pre>&lt;meta config fallback="/home"&gt;</pre>
            </code>
            </li>
            <li>Added $import & $export to dox - now you can import and export jsdox components

                <aside/>
                
            </aside><code class="badge  mt-2 bg-slate-200 text-sky-500">
                <pre>$import('file' || 'exportName')</pre>
            </code>  </li>
        
            <code class="badge mt-2  bg-slate-200 text-sky-500">
                <pre>$export('exportName', objectvalue)</pre>
            </code>  
            </li>

        </li>
       
        </ul>
    </div>
</div>
</div>
<footer></footer>
</changelog>
 
<export>
changelog
</export>