<nav>
    <div 
    class="bg-slate-700 text-white  w-screen h-10 flex justify-center items-center hover:bg-slate-800  "
    >
    <a   href="https://www.facebook.com/fundraisers/explore/search/charities/?query=ukraine"
    class="text-white hover:link">
    Support Ukraine 🇺🇦
    </a>
  
  </div>
    <div class="navbar xl:px-24 h-2 border border-slate-200 h-6 lg:px-24 lg:py-5 xl:py-5 text-black">
      
        <div class="flex-1">
         <img src="./assets/logo.svg" alt="logo"
         width="22"
         height="22"
         >
        </img>
        <a href="#/home">
          <p class=" text-lg  text-md font-bold mx-5">HTML <span class="text-orange-400">DOX</span></p>
        </a>
        
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1 ">
            <li>
                <div data-tip="Github" class="tooltip tooltip-bottom tooltip-primary">
                     
                <a
                href="https://github.com/MalikWhitten67/html-dox"
                >
                <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 fill-slate-900"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z"></path></svg>
               </a>
            </div>
        </li>
            <li  >
              <details>
                <summary >
                 Resources
                </summary>
                <ul class="p-2 bg-base-100 shadow-lg w-40 rounded-xl bg-slate-700"
               
                > 
                  <li> </li>
                  <li><a
                    href="https://github.com/MalikWhitten67/html-dox/tree/website">
                    {{someLogo}} Source Code
                  </a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
</nav>
 <export>
    nav
</export>
<var name="someLogo">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 01-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 014.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0112 15a9.065 9.065 0 00-6.23-.693L5 14.5m14.8.8l1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0112 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" />
      </svg>
</var>
