<var name="github_url">
  https://github.com/MalikWhitten67/html-dox/releases/latest
</var>
<nav class="w-screen ">
  <div class="navbar  text-white   border text-mono  shadow-sm border-[#3c3737]"
  >
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl  font-bold text-white">
        <img src="./assets/logo.svg"  class="w-8 h-8" alt=""> Html-dox
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal bg-base-100 ">
        <li>
          <details>
            <summary>
              <a>Docs</a>
            </summary>
            <ul class="p-2 bg-base-300">
              <li><a>Link 1</a></li>
              <li><a>Link 2</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
 
</nav>
 
<div>
 
  </div>
 
 
 
 <export>
    nav
</export>
 