<import src="./components/nav.html" exports="nav"></import>
<import src="./components/footer.html" exports="footer"></import>
<team>
    <nav></nav>
 
    <div class="relative">
        <div class="hero   mt-16   ">
            <div class="hero-content flex-col lg:flex-row-reverse">
              <img src="/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
              <div>
                <h1 class="text-5xl font-bold">HTML DOX - Dev / Contributors</h1>
                <p class="py-6">Here is a list of people actively working on this frontend library!</p>
                <button class="btn btn-primary">Get Started</button>
              </div>
            </div>
          </div>
    </div>
    <footer></footer>
</team>

<export>
    team
</export>